.parent{
    width: 100%;
    background-color: white;
    text-align: center;
}

h2{
    padding: 2px;
    text-align: center;
    text-transform: uppercase
}

.user{
    width: 100%;
    border: 1px solid gray;
    padding-bottom: 30px;
}

td{
    font-size: 15px;
    padding: 5px;
}

.key{
    color: black;
    display: inline-block;
    width: 150px;
}


.left{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

span{
    color: blue;

}

.user{
   display: flex;

}

.left{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.caption{
    color: brown;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 0px;
}

.address{
    width: 330px;
}

.address-info{
    padding-left: 150px;
    color: black;
}

b{
    color: blue;
}

.coard{
    color: black;

}

.right2{
    width: 30%;
    margin-left: 100px;
}

img{
    margin-left: 100px;
}

.cardNumber{
    width: 100%;
}

.right3{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}