<div>
    <p>Select Rating</p>
    <label for="one">1 <span>&star;</span></label>
    <input type="radio" name="rating" id="one" value="1" [(ngModel)]="rate" (change)="send()">
    <label for="two">2 <span>&star;</span></label>
    <input type="radio" name="rating" id="two" value="2" [(ngModel)]="rate" (change)="send()">
    <label for="three">3 <span>&star;</span></label>
    <input type="radio" name="rating" id="three" value="3" [(ngModel)]="rate" (change)="send()">
    <label for="four">4 <span>&star;</span></label>
    <input type="radio" name="rating" id="four" value="4" [(ngModel)]="rate" (change)="send()">
    <label for="five">5 <span>&star;</span></label>
    <input type="radio" name="rating" id="five" value="5" [(ngModel)]="rate" (change)="send()">
</div>