<div class="parent">
    <div class="left">
        <h3>Dashboard</h3>
        <h3 routerLink="structuralDirectuves">Structural Directives</h3>
        <h3 routerLink="marks">Marks</h3>
        <h3 routerLink="pipes">Pipes</h3>
        <h3 routerLink="event">Event</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="userService">User Service</h3>
        <h3 routerLink="accounts">Account Service</h3>
        <h3 routerLink="flipkart">Flip Kart</h3>
        <h3 routerLink="vahicles">Vahicles</h3>
        <h3 routerLink="emails">Emails</h3>
        <h3 routerLink="activity">Activity</h3>
        <h3 routerLink="gallery">Gallery</h3>
        <h3 routerLink="userInfo">User Iformation</h3>
        <h3 routerLink="create-user">Create User</h3>
        <h3 routerLink="user-form"> User Form</h3>
        <h3 routerLink="student-form"> Student Form</h3>
        
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet>
        </router-outlet>
    </div>
</div>